/0357673425_663333 (1)
/0357673425_663333 (1).zip

/M01/Screen Shot 2025-08-25 at 3.30.50 PM.png
/M01/Screen Shot 2025-08-25 at 3.31.37 PM.png
/M01/Screen Shot 2025-08-25 at 3.32.42 PM.png

/M01/Ch 1/You Do It/Screen Shot 2025-08-27 at 3.09.09 PM.png
/M01/Ch 1/You Do It/Screen Shot 2025-08-27 at 3.09.59 PM.png
/M01/Ch 1/You Do It/Screen Shot 2025-08-27 at 3.10.28 PM.png
/M01/Ch 1/You Do It/You Dot It Chapter 1.zip

/M01/Ch 1/Program Exercise 7/Screen Shot 2025-08-27 at 4.05.03 PM.png
/M01/Ch 1/Program Exercise 7/Ch1PE7.zip

/M01/Ch 2/You Do It/Screen Shot 2025-09-03 at 1.44.31 PM.png
/M01/Ch 2/You Do It/Screen Shot 2025-09-03 at 1.55.30 PM.png
/M01/Ch 2/You Do It/Screen Shot 2025-09-03 at 2.09.22 PM.png
/M01/Ch 2/You Do It/Screen Shot 2025-09-03 at 2.12.02 PM.png
/M01/Ch 2/You Do It/Screen Shot 2025-09-03 at 2.14.11 PM.png
/M01/Ch 2/You Do It/Screen Shot 2025-09-03 at 2.16.30 PM.png
/M01/Ch 2/You Do It/Screen Shot 2025-09-03 at 2.24.52 PM.png
/M01/Ch 2/You Do It/Screen Shot 2025-09-03 at 2.33.45 PM.png
/M01/Ch 2/You Do It/Screen Shot 2025-09-03 at 2.42.29 PM.png
/M01/Ch 2/You Do It/Screen Shot 2025-09-03 at 3.52.31 PM.png
/M01/Ch 2/You Do It/Screen Shot integerDemoInteractiveWithName.png
/M01/Ch 2/You Do It/Screen Shot arithmeticDemo.png
/M01/Ch 2/You Do It/Screen Shot arithmeticDemo2.png
/M01/Ch 2/You Do It/Screen Shot arithmeticDemo3.png
/M01/Ch 2/You Do It/You Do It Chapter 2.zip

/M02/Ch 3/You Do It/Screen Shot paradiseInfo.png
/M02/Ch 3/You Do It/Screen Shot testInfo.png
/M02/Ch 3/You Do It/Screen Shot paradiseInfo2.png
/M02/Ch 3/You Do It/Screen Shot demoBlock.png
/M02/Ch 3/You Do It/Screen Shot demoOverload.png
/M02/Ch 3/You Do It/You Do It Ch 3.zip

/M02/Ch 3/Programming Exercises/Screen Shot bookstoreCredit.png
/M02/Ch 3/Programming Exercises/PE5.zip

/M02/Ch 4/You Do It/Screen Shot spaService.png
/M02/Ch 4/You Do It/Screen Shot createSpaService.png
/M02/Ch 4/You Do It/Screen Shot createSpaService2.png
/M02/Ch 4/You Do It/Screen Shot createSpaService3.png
/M02/Ch 4/You Do It/Screen Shot testDogs.png
/M02/Ch 4/You Do It/You Do It Ch 4.zip

/M02/Ch 4/Programming Exercises/PE Ch4 1.zip
/M02/Ch 4/Programming Exercises/Screen Shot testSandwich.png

/M03/Ch 5/You Do It/Screen Shot assignVolunteer.png
/M03/Ch 5/You Do It/Screen Shot assignVolunteer2.png
/M03/Ch 5/You Do It/Screen Shot assignVolunteer3.png
/M03/Ch 5/You Do It/Screen Shot shortCircutTestAnd.png
/M03/Ch 5/You Do It/Screen Shot assignVolunteer4.png
/M03/Ch 5/You Do It/You Do It Ch 5.zip