/0357673425_663333 (1)
/0357673425_663333 (1).zip

/M01/Screen Shot 2025-08-25 at 3.30.50 PM.png
/M01/Screen Shot 2025-08-25 at 3.31.37 PM.png
/M01/Screen Shot 2025-08-25 at 3.32.42 PM.png

/M01/Ch 1/You Do It/Screenshots
/M01/Ch 1/You Do It/You Dot It Chapter 1.zip

/M01/Ch 1/Program Exercise 7/Screen Shot 2025-08-27 at 4.05.03 PM.png
/M01/Ch 1/Program Exercise 7/Ch1PE7.zip

/M01/Ch 2/You Do It/Screenshots
/M01/Ch 2/You Do It/You Do It Chapter 2.zip

/M01/Ch 2/Programming Exercise 8/Screenshots
/M01/Ch 2/Programming Exercise 8/CH2PE8.zip

/M02/Ch 3/You Do It/Screenshots
/M02/Ch 3/You Do It/You Do It Ch 3.zip

/M02/Ch 3/Programming Exercises/Screen Shot bookstoreCredit.png
/M02/Ch 3/Programming Exercises/PE5.zip

/M02/Ch 4/You Do It/Screenshots
/M02/Ch 4/You Do It/You Do It Ch 4.zip

/M02/Ch 4/Programming Exercises/PE Ch4 1.zip
/M02/Ch 4/Programming Exercises/Screen Shot testSandwich.png

/M03/Ch 5/You Do It/Screenshots
/M03/Ch 5/You Do It/You Do It Ch 5.zip

/M03/Ch 6/You Do It/Screenshots
/M03/Ch 6/You Do It/You Do It Ch 6.zip

/M04/Ch 7/You Do It/Screenshots
/M04/Ch 7/You Do It/You Do It Ch 7.zip

/M04/Ch 8/You Do It/Screenshots
/M04/Ch 8/You Do It/You Do It Ch 8.zip

/M05/Ch 9/You Do It/1st Part/Screenshots
/M05/Ch 9/You Do It/2nd Part/Screenshots
/M05/Ch 9/You Do It/2nd Part/You Do It Ch 9 Part 2.zip

/M06/Ch 10/You Do It/Screenshots


/M06/Ch 11/You Do It/Screenshots